<div class="content" role="main">

  <form (submit)="onSubmit()">
      <div class="form-group">
          <label for="inputUser">* Usuario:&nbsp;</label>
          <input type="text" class="col-sm-2 col-form-label" name="user" [(ngModel)]="inputUser" aria-describedby="userHelp">
          <small id="userHelp" class="form-text text-muted">*campos obligatorios</small>
      </div>
      <div class="form-group">
          <label for="inputPassword">* Password:&nbsp;</label>
          <input type="password" class="col-sm-2 col-form-label" name="pass" [(ngModel)]="inputPassword">
      </div>
      &nbsp;<button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>
