<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-faded">
    <a class="navbar-brand" [routerLink]="['/search']">
        <img src="assets/img/logo2.png " width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Search ATM's
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/search']">Search </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/thanks']">Thanks</a>
        </li> 
        
      </ul>
      <form class="form-inline my-2 my-lg-0" (submit)="onSubmit()">
        <!-- checkbox filter -->
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="inlineCheckbox1"  [(ngModel)]="inlineCheckbox1">
          <label  style="color: white !important;" class="form-check-label" for="inlineCheckbox1">Street</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="inlineCheckbox2" [(ngModel)]="inlineCheckbox2">
          <label style="color: white !important;" class="form-check-label" for="inlineCheckbox2">City</label>
        </div>



        <input  class="form-control mr-sm-2" type="search" placeholder="atm" aria-label="Search"  name="searchInput" [(ngModel)]="searchInput">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
      </form>
    </div>
  </nav>