/* You can add global styles to this file, and also import other style files */
footer{
    bottom: 0px;
    position: fixed;
    color: white;
    width: 100%;
}

header{
    color: white;
    width: 100%;
}

.abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
   
  .form {
    width: 500px;
  }

  html{
    background-image: url(./assets/img/background.jpg);
}